body {
  margin: 0px;
  height: 10rem;
  padding-left: 3rem;
  padding-right: 6rem;
  padding-top: 3rem;
  background-color: rgb(240 240 240);
  background-image: url("./images/bg-top.svg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

.our-pricing{
  text-align: center;
}

.switch-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 60%;
}

.bg-container {
  background-color: hsl(280, 98%, 98%);
  background-size: 30rem;
  background-repeat: no-repeat;
  height: 115rem;
  width: 100%;
  padding: 1.7rem;
  font-family: "Montserrat";
  font-size: 100%;
  display: flex;
  flex-direction: column;
}

.bg-container {
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-position: right top , left bottom;
}

.header {
  align-self: center;
  margin-top: 80px;
}

.section {
  background: white;
  background-size: cover;
  width: 90%;
  padding: 30px;
  margin: 2%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 10px 5px 5px gray;
}

hr {
  width: 80%;
}

.section:hover {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.section:hover button {
  background-color: #ffffff;
  color: hsl(237, 63%, 64%);
  width: 80%;
  height: 10%;
}

button {
  background-color: hsl(237, 63%, 64%);
  margin-top: 10px;
  width: 80%;
  height: 200%;
  padding: 3%;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #ffffff;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 20px;
  margin-right: 20px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:after {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(236, 72%, 79%);
}

input:checked + .slider::after {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:after {
  border-radius: 50%;
}

@media (min-width: 1440px) {
  .main-container {
    flex-direction: row;
  }
  .bg-container {
    height: 50rem; 
  }
  .section {
    width: 25%;
    padding: 30px;
  }
  .section:hover {
    width: 25%;
    height: 100%;
  }

  body {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 10rem;
    height: 10rem;
    background-size: cover;

  }
  .switch-container{
    font-size: 100%;
  }
}
